@model StarWars.ViewModels.CreateViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row py-4">
    <h1>Добавление персонажа</h1>
</div>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-6">
            <div class="input-group py-2 gap-2">
                <label asp-for="Name" class="input-group-text col-4 fw-bold"></label>
                <div class="col">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group py-2 gap-2">
                <label asp-for="OriginalName" class="input-group-text col-4 fw-bold"></label>
                <div class="col">
                    <input asp-for="OriginalName" class="form-control" />
                    <span asp-validation-for="OriginalName" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group py-2 gap-2">
                <label asp-for="BirthDate" class="input-group-text col-4 fw-bold"></label>
                <div class="col">
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group py-2 gap-2">
                <label asp-for="Planet" class="input-group-text col-4 fw-bold"></label>
                <div class="col">
                    <input asp-for="Planet" class="form-select" list="Planets"
                        placeholder="Выберите планету..."></input>
                    <datalist id="Planets">
                        @foreach (var item in @Model.PlanetList)
                        {
                            <option value="@item" />
                        }
                    </datalist>
                    <span asp-validation-for="Planet" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group py-2 gap-2">
                <label asp-for="Gender" class="input-group-text col-4 fw-bold"></label>
                <div class="col">
                    <select asp-for="Gender" class="form-select" asp-items="Html.GetEnumSelectList<Gender>()">
                        <option>Выберите пол...</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group py-2 gap-2">
                <label asp-for="Race" class="input-group-text col-4 fw-bold"></label>
                <div class="col">
                    <input asp-for="Race" class="form-select" list="Races" placeholder="Выберите расу..."></input>
                    <datalist id="Races">
                        @foreach (var item in @Model.RaceList)
                        {
                            <option value="@item" />
                        }
                    </datalist>
                    <span asp-validation-for="Race" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group py-2 gap-2">
                <label asp-for="Height" class="input-group-text col-4 fw-bold"></label>
                <div class="col">
                    <input asp-for="Height" class="form-control floatNumber" step="0.01" />
                    <span asp-validation-for="Height" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group py-2 gap-2">
                <label asp-for="HairColor" class="input-group-text col-4 fw-bold"></label>
                <div class="col">
                    <div class="col">
                        <input asp-for="HairColor" class="form-select" list="HairColors"
                            placeholder="Выберите цвет..."></input>
                        <datalist id="HairColors">
                            @foreach (var item in @Model.HairColorList)
                            {
                                <option value="@item" />
                            }
                        </datalist>
                        <span asp-validation-for="HairColor" class="text-danger"></span>
                    </div>
                </div>
                <div class="input-group py-2 gap-2">
                    <label asp-for="EyeColor" class="input-group-text col-4 fw-bold"></label>
                    <div class="col">
                        <div class="col">
                            <input asp-for="EyeColor" class="form-select" list="EyeColors"
                                placeholder="Выберите цвет..."></input>
                            <datalist id="EyeColors">
                                @foreach (var item in @Model.EyeColorList)
                                {
                                    <option value="@item" />
                                }
                            </datalist>
                            <span asp-validation-for="EyeColor" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <label asp-for="History" class="form-control border-0 fw-bold"></label>
            <div class="col">
                <textarea asp-for="History" class="form-control" rows="4"></textarea>
                <span asp-validation-for="History" class="text-danger"></span>
            </div>

            <label asp-for="Movies" class="form-control border-0 fw-bold"></label>
            <dl id="attached-movie-list" class="col gap-1 border-1">
                @if(@Model.Movies != null)
                {
                    @foreach (var item in @Model.Movies)
                    {
                        <dd>
                            <span>@item</span>
                            <button id="detach-movie-button" class="btn-close btn-sm border-0" type="button"></button>
                        </dd>
                    }
                }
            </dl>
            <div class="col">
                <select id="movie-holder" asp-for="Movies" class="form-select" hidden>
                    @if(@Model.Movies != null)
                    {
                        @foreach (var item in @Model.Movies)
                        {
                            <option value="@item" selected />
                        }
                    }
                </select>
                <div class="input-group py-2">
                    <input id="selected-movie" class="form-select" list="detached-movie-list"
                        placeholder="Выберите фильм..."></input>
                    <datalist id="detached-movie-list">
                        @foreach (var item in @Model.MoviesList)
                        {
                            <option value="@item" selected />
                        }
                    </datalist>
                    <button id="attach-movie-button" class="btn btn-outline-primary" type="button">Добавить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-group gap-2" role="group">
        <a type="button" class="btn btn-secondary" onclick="history.go(-1)">Отмена</a>
        <input class="btn btn-primary" type="submit" value="Сохранить" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script src="~/js/movie.js" asp-append-version="true"></script>
}
